#donate-btn
  display block
  position fixed
  top 0
  left 0
  width 100px
  height 60px
  background yellow
  box-sizing border-box
  padding 1em
  ApercuBold()
  z-index 2

#donate 
  transition opacity 0.66s ease-in-out
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background rgba(196,211,242,0.35)
  z-index 10
  box-sizing border-box
  padding 10em;

  &.display-none
    display none

  &.hidden
    opacity 0