#expeditions
  
  #cover
    background-image url(urlbase 'expeditions-cover.jpg')
    background-size cover
    background-position center 80%
    height 80%
    box-sizing border-box
    overflow hidden
    display table
    width 100%
    text-align center

    h1
      display table-cell
      vertical-align middle
      ApercuBold()
      letter-spacing -.025em
      font-size 4em
      color #fff
      position relative
      top -0.25em

  section
    grid()
    padding 4em 0 5em 0
    color #073F6E

    .wrapper
      width column * 8

    h2
      ApercuBold()
      font-size 2em
      line-height 1.25em
      margin 0 0 1em 0

    p
      GentiumBook()
      font-size 2em
      line-height 1.25em