#foundation

  #cover
    height 80%

    .bg
      background-image url(urlbase 'foundation-cover.jpg')
      background-position center center

    .grid
      display table
      width 100% - 2 * column
      height 100%

      .wrapper
        display table-cell
        vertical-align middle

      h1
        margin 0
        padding 0 0 0.25em 0
        GentiumBold()
        font-size 8em
        letter-spacing -0.05em
        color #fff
        text-align center
        span
          position relative
          left -0.05em